:root {
    --fontes: rgb(255, 0, 217);
    --footer: rgb(60, 0, 48);
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* NAV */

/* MENU NAV COM LINKS */
.navbar {
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    opacity: 0.9;
    height: 100px;
}

/* LOGO DO MENU */
.logo-studio {
    width: 300px;
    height: 200px;
    margin-left: 50px;
}

/* Inspecionei apenas o item INÌCIO */
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
    
}

/* Inspecionei os outros itens */
.navbar-light .navbar-nav .nav-link {
    margin: 0 10px;
    color: white;
    font-family: Arial;
    font-size: 15px;
}

.nav-item .active {
    color: var(--fontes) !important;
    transition: all 0.5s;
    opacity: 0.7;
}

ul li a:hover {
    color: var(--fontes) !important;
    transition: all 0.5s;
}

.navbar-light .navbar-toggler {
    color: var(--fontes);
    border-color: var(--fontes);
    background-color: var(--fontes);
}

@media screen and (max-width: 992px){
    .navbar {
        position: relative;
        height: 1%;
    }

    .logo-studio {
        margin-top: 0;
        margin-left: 50px;
    }    

    ul {
        text-align: left;
    }

    ul li {
        font-size: 25px;
        margin-left: 50px;
    }

    #início {
        margin-top: 0 !important;
    }
}

/* FINAL DO NAV */


/* SECTION INÍCIO */
#início {
    margin-top: 100px;
    background-color: white;
}

.w-100 {
    height: 600px;
}

#h1-início {
    font-size: 60px;
    font-weight: 700;
    color: var(--fontes);
    margin-top: 50px;
}

#h2-início {
    font-size: 30px;
    font-weight: 500;
    color: var(--fontes);
    margin-top: 30px;
}

#p-início {
    font-size: 20px;
    color: var(--fontes);
    margin-top: 30px;
    margin-bottom: 50px;
}

/* SECTION OBJETIVOS */
#objetivos {
    margin-top: 20px;    
    padding: 50px 25px 50px 25px;
    position: relative;
    min-height: 500px;
    max-height: 100%;
}

#fundo {
    background-image: url('../img/fundo-unhas.png');
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    z-index: -10;
}

#col1-objetivos, #col2-objetivos, #col3-objetivos {
    padding: 0 45px;
}

.conteúdo-missão {
    display: none;
}

#btn-missão {
    width: 200px;
    height: 50px;
    background-color: var(--fontes);
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#btn-missão:hover {
    width: 250px;
    height: 100px;
    font-size: 40px;
    box-shadow: 0 0 1em gold, 0 0 1em red;
}

#p-missão {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--footer);
}

.conteúdo-visão {
    display: none;
}

#btn-visão {
    width: 200px;
    height: 50px;
    background-color: var(--fontes);
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#btn-visão:hover {
    width: 250px;
    height: 100px;
    font-size: 40px;
    box-shadow: 0 0 1em gold, 0 0 1em red;
}

#p-visão {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--footer);
}

.conteúdo-valores {
    display: none;
}


#btn-valores {
    width: 200px;
    height: 50px;
    background-color: var(--fontes);
    border: 2px solid black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

#btn-valores:hover {
    width: 250px;
    height: 100px;
    font-size: 40px;
    box-shadow: 0 0 1em gold, 0 0 1em red;
}

#p-valores {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--footer);
}

@media screen and (max-width: 576px) {
    #objetivos {
        height: 100%;
    }

    #fundo {
        background-image: url('../img/fundo-unhas.png');
        background-repeat: repeat-y;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    #col1-objetivos, #col2-objetivos, #col3-objetivos {
        padding: 0;
    }
}



/* SECTION SERVIÇOS */
#serviços {
    background: pink;
    padding: 50px 25px;
}

.lateral1-serviços {
    background-image: url('/img/lateral-esmaltes.png');
    height: 100%;
    width: 10px;
}

#h1-serviços {
    font-size: 40px;
    font-weight: 900;
    color: var(--fontes);
    margin-bottom: 50px;
}

.lateral2-serviços {
    background-image: url('/img/lateral-esmaltes.png');
    height: 100%;
    width: 10px;
}

.tabela-serviços tr td {
    padding: 70px 10px 30px 30px;
}

#p-serviços {
    font-size: 15px;
    font-weight: 600;
    color: var(--footer);
    line-height: 2;
}

@media screen and (max-width: 576px){
    #p-serviços {
        font-size: 15px;
    }
}

/* SECTION RESULTADOS */
#resultados {
    padding: 50px 25px;
}

#img-resultados {
    margin: 30px auto 0 auto;
    display: block;
}

#h1-resultados {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: var(--fontes);
    margin-bottom: 20px;
}

#p-resultados {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--footer);
}

/* FOOTER */
#contato {
    padding: 50px 25px;
    background-color: var(--footer);
}

#h1-footer {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
}

#logo-insta {
    width: 30px;
    margin-top: 3px;
}

#a-instagram {
    text-decoration: none;
}

#p-instagram {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

#logo-whats {
    width: 30px;
    margin-top: 30px;
}

#a-whats {
    text-decoration: none;
}

#p-whats {
    font-size: 25px;
    font-weight: 500;
    color: white;
}

#h1-forms {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

#forms-email {
    width: 100%;
    height: 50px;
    color: var(--footer);
    font-size: 20px;
    padding-left: 25px;
    border-radius: 10px;
}

::placeholder {
    font-size: 20px;
    color: var(--footer);
}

#btn-forms {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: black;
    background-color: white;
    color: var(--footer);
    font-weight: 900;
}

@media screen and (max-width: 768px){
    #h1-forms {
        margin-top: 20px;
    }

    #btn-forms {
        margin-top: 20px;
    }
}